<!DOCTYPE html>
<html lang = "zh-TW">
<head>
	<meta charset = "UTF-8">
	<title>計算機</title>
</head>
<body>
    <form action = "/math" method = "post">
		請輸入 a：
		<input type = "number" name = "a" required>
		<br><br>
		請輸入運算符號：
		<select name="opt">
			<option value = "+"> + </option>
			<option value = "-"> - </option>
			<option value = "*"> * </option>
			<option value = "/"> / </option>
		</select>
		<br><br>
		請輸入 b：
		<input type = "number" name = "b" required>
		<br><br>
		<input type = "submit" value = "計算">
	</form>
</body>
</html>